[submodule "themes/hugo-wisper-theme"]
	path = themes/hugo-wisper-theme
	url = https://github.com/jugglerx/hugo-whisper-theme.git
[submodule "theme/hugo-whisper-theme"]
	path = theme/hugo-whisper-theme
	url = https://github.com/jugglerx/hugo-whisper-theme.git
[submodule "themes/hugo-whisper-theme"]
	path = themes/hugo-whisper-theme
	url = https://github.com/jugglerx/hugo-whisper-theme.git
